@media screen and (min-width: 374px){
    /*-----------------------------header------------------*/
    .header-box{
        grid-template-columns: 365px;
    }

    .header-box-b{
        grid-template-columns: 365px;
    }

    .header-box-c{
        grid-template-columns: 365px;
    }

    .header-box-d{
        grid-template-columns: 365px;
    }

    .header-box-z{
        grid-template-columns: 365px;
    }

    .header-container{
        width: 100%;
    }

    .header-container-b{
        width: 100%;
    }

    /*------------------------------main--------------------*/
    .title p{
        display: block;
    }

    .gadgets-overlay{
        font-size: 25px;
    }

    .gadgets-overlay-b{
        font-size: 25px;
    }
}

@media screen and (min-width: 765px){
    /*--------------------------------header-----------------*/
    .header-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px 0px 15px;
    }

    .header-box-b{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px 0px 15px;
    }

    .header-box-c{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px 0px 15px;
    }

    .header-box-d{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px 0px 15px;
    }

    .header-box-z{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px 0px 15px;
    }

    .header-container{
        width: 70px;
        height: 70px;
    }

    .header-container-b{
        width: 70px;
        height: 70px;
    }

    .container-image{
        width: 100%;
        height: 100%;
    }

    .container-image{
        width: 100%;
        height: 100%;
    }

    /*----------------------------------------main config------*/
    .hero-imageContainer{
        height: 600px;
    }

    .hero-imageContainer-b{
        height: 600px;
    }

    .prom-grid{
        grid-template-columns: 500px;
        grid-row-gap: 4px;
    }

    .prom-desc{
        width: 130px;
    }

    .prom-desc-b{
        width: 130px;
    }

    .prom-desc-c{
        width: 500px;
    }

    .prom-desc-d{
        width: 500px;
    }

    .gadgets-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px;
        grid-row-gap: 0;
    }

    .discount{
        width: 500px;
        border-radius: 4px;
        margin: 40px auto;
    }

    .discount-b{
        width: 500px;
        border-radius: 4px;
        margin: 40px auto;
    }

    .discount-c{
        width: 500px;
        border-radius: 4px;
        margin: 40px auto;
    }

    .discount-register{
        width: 400px;
        margin: 10px auto 0px auto;
    }

    /*-----------------------------------footer grid-------------*/

    .support-grid{
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(2, 20px);
        grid-column-gap: 2%;
    }
    /*------------------------------------------------------*/
    /*                     phone.html                          */
    /*------------------------main config------------------*/
    .phone-grid{
        grid-template-columns: repeat(2,300px);
        grid-template-rows: repeat(5,1fr);
        grid-column-gap: 2%;
        padding-bottom: 120px;
    }

    .partners-grid{
        grid-template-columns: repeat(2,200px);
        grid-template-rows: repeat(2,200px);
        grid-gap: 10%;
        padding-bottom: 50px;
    }
    /*------------------------------------------------------*/
    /*                           error.html                 */
    /*-------------------------main config-----------------------------*/
    .error-imageContainer{
        width: 500px;
        height: 500px;
    }

    /*-------------------------------------------------------*/
    /*                           accesories.html             */
    /*-------------------------main config-------------------*/
    .accesories-grid{
        grid-template-columns: repeat(2, 300px);
        grid-column-gap: 2%;
        grid-template-rows: repeat(5, 1fr);
    }
    /*------------------------------------------------------------*/
    /*                            gadgets.html                    */
    /*-----------------------------main config--------------------*/
    .gadts-grid{
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 2%;
        padding-bottom: 100px;
    }
    /*------------------------------------------------------------*/
    /*                            gadts.html                    */
    /*-----------------------------main config--------------------*/
    .obtains-grid{
        margin-top: 120px;
        margin-bottom: 120px;
        grid-template-columns: 400px;
        grid-template-rows: 400px 100px 90px 120px ;
    }

    /*------------------------------------------------------------*/
    /*                           register.html                    */
    /*-----------------------------main config--------------------*/
    .register-content{
        width: 420px;
        height: 680px;
    }

    .register-title{
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .register-info{
        margin-top: 100px;
    }
}

@media screen and (min-width: 1022px){
    /*---------------------------------------header-config--------------*/
    .header-nav ul{
        display: flex;
    }

    .header-nav ul li{
        padding-left: 15px;
    }
    /*---------------------------------------main config----------------*/
    .prom-grid{
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(2, 400px);
        grid-column-gap: 2%;
    }

    .discount{
        width: 600px;
        margin: 40px auto;
        border-radius: 4px;
        overflow: hidden;
    }

    .discount-input{
        width: 450px;
        text-align: center;
    }

    .discount-button{
        width: 300px;
        justify-content: center;
    }

    .discount-button-b{
        width: 300px;
        justify-content: center;
    }

    .discount-button-c{
        width: 300px;
        justify-content: center;
    }

    .discount-button-d{
        width: 300px;
        justify-content: center;
    }

    /*--------------------------------------------footer grid-------------*/
    .support-grid{
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: 1fr;
    }

    /*------------------------------------------------------*/
    /*                     phone.html                          */
    /*------------------------main config----------------------*/
    .phone-grid{
        grid-template-columns: repeat(2,400px);
    }

    .phone-button{
        width: 200px;
        height: 40px;
        align-items: center;
        font-size: 20px;
    }

    .phone-button-b{
        width: 200px;
        height: 40px;
        align-items: center;
        font-size: 20px;
    }

    .phone-button-c{
        width: 200px;
        height: 40px;
        align-items: center;
        font-size: 20px;
    }

    .phone-button-d{
        width: 200px;
        height: 40px;
        align-items: center;
        font-size: 20px;
    }

    .phone-button-z{
        width: 200px;
        height: 40px;
        align-items: center;
        font-size: 20px;
    }
    /*-------------------------------------------------------*/
    /*                        model.html                     */
    /*--------------------------main config------------------*/
    .buy{
        height: 1000px;
        margin: 0;
        align-items: center;
    }
    
    .buy-grid{
        grid-template-columns: 400px 300px;
        grid-template-rows: 50px 30px 180px 70px 120px 50px 40px 50px;
        grid-template-areas: ". title"
                             ". price"
                             "phone technical"
                             "phone warranty"
                             "phone stamps"
                             "phone check"
                             ". email"
                             ". button";
        grid-column-gap: 5%;
        margin: 200px auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /*-------------------------------------------------------*/
    /*                           accesories.html             */
    /*-------------------------main config-------------------*/
    .accesories-grid{
        grid-template-columns: repeat(2, 350px);
    }
    /*-------------------------------------------------------*/
    /*                           unit.html                   */
    /*-------------------------main config-------------------*/
    .unit-grid{
        grid-template-columns: 400px 300px;
        grid-template-rows: 50px 30px 70px 70px 120px 50px 40px 50px;
        grid-template-areas: "phone title"
                             "phone price"
                             "phone technical"
                             "phone warranty"
                             "phone stamps"
                             "phone check"
                             "phone email"
                             ". button";
        grid-column-gap: 5%;
        margin: 200px auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /*------------------------------------------------------------*/
    /*                            gadts.html                    */
    /*-----------------------------main config--------------------*/
    .obtains-grid{
        margin-top: 250px;
        margin-bottom: 250px;
    }

    /*------------------------------------------------------------*/
    /*                            services.html                   */
    /*-----------------------------main config--------------------*/
    .services{
        width: 950px;
        margin-top: 30px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .services-imageContainer{
        width: 450px;
    }

    .services-desc{
        width: 450px;
    }
}

@media screen and (min-width: 1200px){
    /*----------------------------------------main config------------*/
    .prom-grid{
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: 1fr;
    }

    .gadgets-grid{
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: 250px;
        grid-column-gap: 10%;
        padding-bottom: 50px;
    }

    .social-grid{
        grid-column-gap: 5%;
    }

    /*------------------------------------------------------*/
    /*                     phone.html                          */
    /*------------------------main config----------------------*/
    .phone-grid{
        grid-template-columns: repeat(3,300px);
        grid-template-rows: repeat(4,1fr);
        grid-row-gap: 2%;
    }

    .partners-grid{
        grid-template-columns: repeat(4,200px);
        grid-template-rows: 200px;
        grid-gap: 5%;
    }
    /*-------------------------------------------------------*/
    /*                        model.html                     */
    /*--------------------------main config------------------*/
    .buy{
        height: 100vh;
    }
    /*-------------------------------------------------------*/
    /*                           accesories.html             */
    /*-------------------------main config-------------------*/
    .accesories-grid{
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 1fr);
    }
    /*------------------------------------------------------------*/
    /*                            gadgets.html                    */
    /*-----------------------------main config--------------------*/
    .gadts-grid{
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 5%;
    }
    /*------------------------------------------------------------*/
    /*                            gadts.html                    */
    /*-----------------------------main config--------------------*/
    .obtains-grid{
        margin-top: 180px;
        margin-bottom: 180px;
        grid-template-columns: 400px 400px;
        grid-template-rows: 50px 100px 90px 120px 50px;
        grid-template-areas: "image ."
                                "image price"
                                "image desc"
                                "image form"
                                "image .";
    }
    /*------------------------------------------------------------*/
    /*                            services.html                   */
    /*-----------------------------main config--------------------*/
    .services{
        width: 1050px;
    }
}

@media screen and (min-width: 1400px){
    /*--------------------------------------------main config--------------*/
    .prom-grid{
        grid-template-columns: repeat(4, 300px);
        grid-column-gap: 0;
    }
    /*------------------------------------------------------------*/
    /*                            gadgets.html                    */
    /*-----------------------------main config--------------------*/
    .gadts-grid{
        column-gap: 5%;
    }
}