/*-----------------Global-config----------------------*/
body,
html,
header,
main{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Noto Sans JP', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.title{
    text-align: center;
}

.title-b{
    color: var(--clr-b);
    text-align: center;
}

:root{
    --backgc-a: #ffffffdc;
    --backgc-b: rgba(0,0,0,1);
    --backgc-c: #1550f3f1;
    --backgc-d: #fd1717;
    --bx-shw-a: 0px 9px 5px -7px rgba(0,0,0,0.75);
    --bx-shw-b: 0px 8px 6px -6px rgba(0,0,0,0.75);
    --clr-a: rgb(59, 59, 59);
    --clr-b: white;
    --bgc-b: #a6d388;
    --bgc-c: #000000;
}

/*----------------------------header config------------------*/

.header-box{
    background-color: var(--backgc-a);
    box-shadow: var(--bx-shw-a);
    display: grid;
    grid-template-rows: 150px 60px;
    grid-template-columns: 300px;
    justify-content: center;
    position: relative;
    z-index: 111;
}

.header-box-z{
    background-color: var(--backgc-a);
    box-shadow: var(--bx-shw-a);
    display: grid;
    grid-template-rows: 80px 60px;
    grid-template-columns: 300px;
    justify-content: center;
    margin: 0;
    position: relative;
    z-index: 111;
}

.header-box-b{
    background-color: var(--backgc-b);
    box-shadow: var(--bx-shw-a);
    display: grid;
    grid-template-rows: 80px 60px;
    grid-template-columns: 300px;
    justify-content: center;
    margin: 0;
    position: relative;
    z-index: 111;
}

.header-box-c{
    background-color: var(--backgc-c);
    box-shadow: var(--bx-shw-a);
    display: grid;
    grid-template-rows: 80px 60px;
    grid-template-columns: 300px;
    justify-content: center;
    margin: 0;
    position: relative;
    z-index: 111;
}

.header-box-d{
    background-color: var(--backgc-d);
    box-shadow: var(--bx-shw-a);
    display: grid;
    grid-template-rows: 80px 60px;
    grid-template-columns: 300px;
    justify-content: center;
    margin: 0;
    position: relative;
    z-index: 111;
}

.header-container{
    margin: 0;
    padding: 0;
    width: 300px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-container-b{
    margin: 0;
    padding: 0;
    width: 300px;
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-image{
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.container-image-b{
    width: 27%;
    height: 100%;
    object-fit: cover;
}

.header-nav ul{
    display: grid;
    padding: 0;
    margin: 15px 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px;
    grid-gap: 2%;
}

.header-nav ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--clr-a);
}

.a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.a-b{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--clr-b); 
}

.a-c{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.a:hover{
   padding: 10px 10px;
   background-color: var(--bgc-b);
   color: var(--clr-b);
   border-radius: 3px;
}

.b:hover{
    padding: 10px 10px;
    background-color: var(--bgc-c);
    color: var(--clr-b);
}

.c:hover{
    padding: 10px 10px;
    border-top: 2px solid var(--clr-b);
}

.d:hover{
    padding: 10px 10px;
    border-top: 2px solid var(--backgc-c);
}

.e:hover{
    padding: 10px 10px;
    border-top: 2px solid var(--backgc-d);
}

.f:hover{
    padding: 10px 10px;
    background-color: var(--backgc-c);
    color: var(--clr-b);
}

.g:hover{
    padding: 10px 10px;
    background-color: var(--backgc-d);
    color: var(--clr-b);
}

.h:hover{
    padding: 10px 10px;
    border-top: 2px solid black;
}
/*----------------------------------------------------main config------------------------------*/
.hero-box{
    margin: 0;
    padding: 0;
    width: 320px;
    box-shadow: var(--bx-shw-b);
}

.hero-imageContainer{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.hero-imageContainer-b{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.hero-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-desc{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    bottom: -80px;
    right: 50px;
}

.hero-desc-b{
    padding: 10px;
    background-color: rgba(0,0,0,0.75);
    color: white;
    bottom: -80px;
    right: 50px;
    position: absolute;
}

.hero-desc-c{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    bottom: -80px;
    right: 50px;
    text-align: center;
}

.hero-desc-d{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    bottom: -80px;
    right: 50px;
    text-align: center;
}

.prom-box{
    margin: 0;
    padding: 0;
}

.prom-imageContainer{
    width: 320px;
    height: 320px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.prom-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prom-desc{
    text-align: center;
}
/*-----------------------------mobile first config-------------------*/
@media screen and (min-width: 320px){

}