/*-----------------Global-config----------------------*/
body,
html,
header{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Bebas Neue', cursive;
}

p{
    font-family: 'Roboto', sans-serif;
}

:root{
    --bgc-a: #ffffffdc;
    --bx-shw-a: 0px 1px 4px 0px rgba(0,0,0,0.75);
    --clr-a: rgb(59, 59, 59);
    --bgc-b: #a6d388;
    --bgc-c: rgb(167, 167, 167);
}

/*----------------------------header config------------------*/

.header-box{
    background-color: var(--bgc-a);
    box-shadow: var(--bx-shw-a);
    display: grid;
    grid-template-rows: 150px 60px;
    grid-template-columns: 300px;
    justify-content: center;
}

.header-container{
    margin: 0;
    padding: 0;
    width: 300px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-image{
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.header-nav ul{
    display: grid;
    padding: 0;
    margin: 15px 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px;
    grid-gap: 2%;
}

.header-nav ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--clr-a);
}

.a:hover{
   padding: 10px 10px;
   background-color: var(--bgc-b);
   color: white;
   border-radius: 3px;
}

.b:hover{
    padding: 10px 10px;
    background-color: var(--bgc-c);
    color: white;
    border-radius: 3px;
}
/*-----------------------------mobile first config-------------------*/
@media screen and (min-width: 320px){

}